.main-content {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(32, 45, 82, 0.2);
  background-color: #172b4d;
}

.router-link-exact-active {
  font-weight: bold;
}

.router-link-exact-active i {
  font-weight: bold;
}

.main-content .navbar-top {
  position: relative;
  background: #172b4d !important;
}

.bg-note {
  background-color: rgba(17, 205, 239, 0.3);
}

p {
  font-size: 14px;
}

.col-05 {
  max-width: 5.33%;
  flex: 0 0 8.33333%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.btn-icon .btn-inner--text:not(:first-child) {
  margin-left: 0;
}

.badge {
  font-size: 56%;
  position: relative;
  top: -5px;
}

.btn-icon-only.btn {
  padding: 0;
}

.cursor-pointer:hover {
  cursor: pointer;
  color: var(--default) !important;
}

.avatar-xs {
  font-size: 0.75rem;
  width: 24px;
  height: 24px;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: var(--default);
  color: white !important;
}

